---
version: 2
updates:
  - package-ecosystem: "docker"
    directory: "/latex"
    target-branch: "main"
    schedule:
      interval: "daily"
    commit-message:
      prefix: build(deps)
  - package-ecosystem: "docker"
    directory: "/latex"
    target-branch: "alpine"
    schedule:
      interval: "daily"
    commit-message:
      prefix: build(deps)
  - package-ecosystem: "github-actions"
    target-branch: "main"
    directory: "/"
    schedule:
      interval: "daily"
    cooldown:
      default-days: 7
    commit-message:
      prefix: ci(deps)
  - package-ecosystem: "github-actions"
    target-branch: "alpine"
    directory: "/"
    schedule:
      interval: "daily"
    cooldown:
      default-days: 7
    commit-message:
      prefix: ci(deps)
